<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="" />
    <meta name="description" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/css_images/favicon.png" />
    
    <title>数字图像处理小作业</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../static/css_images/logo.svg" id="logo" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero -->
    <section id="hero">
        <div style="padding-bottom:30px;">
            <a href="#" onclick="javascript:history.back(-1);"> << Back </a>
        </div>

        <div class="container">
            <div class="heading-wrapper">
                <!-- <div>
                    <div class="jumbotron-left" style="height:250px">
                        <img src=" {{url_for('send_image', filename=original_name)}} " style="height:80%">
                        <div style="padding-top:10px;"> Original </div>
                    </div>

                    <div class="jumbotron-right" style="height:250px">
                        <img src=" {{url_for('send_image', filename=kernel_name)}} " style="height:80%">
                        <div style="padding-top:10px;"> Random Kernel </div>
                    </div>
                </div> -->


                <div class="jumbotron-left">
                    <img src=" {{url_for('send_image', filename=raw_name)}} " style="max-width:100%">
                    <div style="padding-top:10px;"> 原图 </div>
                </div>

                <div class="jumbotron-right">
                    <img src=" {{url_for('send_image', filename=result_name)}} " style="max-width:100%">
                    <div style="padding-top:10px;"> 直方图均衡化结果 </div>
                </div>

                <div class="jumbotron-left">
                    <img src=" {{url_for('send_image', filename=raw_hist_name)}} " style="max-width:100%">
                    <div style="padding-top:10px;"> 原图灰度直方图（灰度/R通道/I通道） </div>
                </div>

                <div class="jumbotron-right">
                    <img src=" {{url_for('send_image', filename=result_hist_name)}} " style="max-width:100%">
                    <div style="padding-top:10px;"> 均衡化灰度直方图（灰度/R通道/I通道）</div>
                </div>
            </div>
        </div>
    
    </section>
    <!-- End Hero -->

    <section id="pricing">
        <div class="container">
            <div class="heading-wrapper">
                <h5>直方图均衡化</h5>
                <p>直方图均衡化，是通过灰度值变换，调整图像的灰度值分布，使得图像的像素尽可能均匀地占有全部可能的灰度值，可用于提高图像的对比度。本实验分别提供在灰度、RGB和HSI空间下的直方图均衡化算法（请根据输入图像和需求选取对应的选项）。</p> 

            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="heading-wrapper">
                <h3>内容</h3>
                <p>直方图均衡化</p>
                <p>图像锐化(拉普拉斯变换)</p>
                <p>空间域滤波复原</p>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <small>© 数字图像处理 2021</small>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->

</body>

</html>