<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="" />
    <meta name="description" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/css_images/favicon.png" />

    <title>Digital image processing</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../static/css_images/logo.svg" id="logo" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero -->
    <section id="hero">
        <div style="padding-bottom:30px;">
            <a href="/"> << Back </a>
        </div>

        <div class="container">
            <div class="heading-wrapper">

        <div class="jumbotron">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width:40%">
        </div>

        <div style="text-align:left;">
            <h5>Histogram equalization</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">
                    <button id="GRAY" class="primary-btn" type="submit" name="mode" value="GRAY">Gray</button>
                    <button id="RGB" class="primary-btn" type="submit" name="mode" value="RGB">RGB</button>
                    <button id="HSI" class="primary-btn" type="submit" name="mode" value="HSI">HSI</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>

            <h5>Laplacian transformer</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                	<button id="Laplacian_1" class="primary-btn" type="submit" name="mode" value="Laplacian_1">Mid 4 template</button>
                	<button id="Laplacian_2" class="primary-btn" type="submit" name="mode" value="Laplacian_2">Mid 8 template</button>
                	<input type="text" class="hidden" name="image" value="{{ image_name }}">  
            	</form>

            <h5>Fast fourier transform</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                    <button id="FFT" class="primary-btn" type="submit" name="mode" value="FFT">FFT</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>

            <h5>Template matching</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                    <button id="Template_matching" class="primary-btn" type="submit" name="mode" value="Template_matching">Template matching</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>

            <h5>Gaussian low-pass filter</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                    <button id="GFLP_5" class="primary-btn" type="submit" name="mode" value="GFLP_5">GFLP_5</button>
                    <button id="GFLP_15" class="primary-btn" type="submit" name="mode" value="GFLP_15">GFLP_15</button>
                    <button id="GFLP_30" class="primary-btn" type="submit" name="mode" value="GFLP_30">GFLP_30</button>
                    <button id="GFLP_80" class="primary-btn" type="submit" name="mode" value="GFLP_80">GFLP_80</button>
                    <button id="GFLP_230" class="primary-btn" type="submit" name="mode" value="GFLP_230">GFLP_230</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>

            <h5>Discrete cosine transform</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                    <button id="DCT" class="primary-btn" type="submit" name="mode" value="DCT">DCT</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>

            <h5>Morphology transform</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                    <button id="erosion" class="primary-btn" type="submit" name="mode" value="erosion">erosion</button>
                    <button id="dilation" class="primary-btn" type="submit" name="mode" value="dilation">dilation</button>
                    <button id="opening" class="primary-btn" type="submit" name="mode" value="opening">opening</button>
                    <button id="closing" class="primary-btn" type="submit" name="mode" value="closing">closing</button>
                    <button id="gradient" class="primary-btn" type="submit" name="mode" value="gradient">gradient</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>

            <h5>Spacial filter image restoration</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                	<button id="Arithmetic" class="primary-btn" type="submit" name="mode" value="Arithmetic">Arithmetic filter</button>
                	<button id="Geometric" class="primary-btn" type="submit" name="mode" value="Geometric">Geometric filter</button>
                	<button id="Adaptive" class="primary-btn" type="submit" name="mode" value="Adaptive">Adaptive mean filter</button>
                	<input type="text" class="hidden" name="image" value="{{ image_name }}">  
            	</form>

            <h5>Edge detection and connection</h5>
                <form id="form-MT" action="{{ url_for('M_T') }}" method="POST" enctype="multipart/form-data">        
                    <button id="Edge" class="primary-btn" type="submit" name="mode" value="Edge">Edge</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">  
                </form>
        </div>
        </div>
    </section>
    <!-- End Hero -->

    <section id="pricing">
        <div class="container">
            <div class="heading-wrapper">
                <h2>Docs</h2>
                <br>
                <h5>Histogram equalization</h5>
                <p>TBD</p>  
                
                <h5>Laplacian transformer</h5>
                <p>TBD</p>

                <h5>Spacial filter image restoration</h5>
                <p>TBD</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="heading-wrapper">
                <h3>Content</h3>
                <p>Histogram equalization</p>
                <p>Laplacian transformer</p>
                <p>Fast fourier transform</p>
                <p>Correlation matching</p>
                <p>Gaussian low-pass filter</p>
                <p>Spacial filter image restoration</p>
                <p>Discrete cosine transform</p>
                <p>Morphology transform</p>
                <p>Edge detection and connection</p>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <small>© Digital image processing</small>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->

</body>

</html>