<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="" />
    <meta name="description" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/css_images/favicon.png" />

    <title>数字图像处理小作业</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../static/css_images/logo.svg" id="logo" class="img-fluid" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero -->
    <section id="hero">
        <div class="container">
            <div style="padding-bottom:30px;">
                <a href="/"> << Back</a>
            </div>

            <div class="jumbotron" style='padding-top:50px;height:250px'>
                <h3>An error occurred</h3>
                <br>
                <h2> {{ message }} </h2>
            </div>

        </div>
    </section>
    <!-- End Hero -->

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="heading-wrapper">
                <h3>Team Members</h3>
                <a> </a>
                <p>Histogram Equalization</p>
                <p>Discrete Cosine Transform</p>
                <p>Morphological Transformation</p>
            </div>
            <div class="row topmargin-lg">
                <div class="col-md-4">
                    <small>© 数字图像处理 2021</small>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer -->

</body>

</html>